.about-page {
  text-align: center;
  margin: 0 20%;
  padding: 25px;
}
.About-intro {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.About-intro img {
  width: 370px;
  height: 450px;
  padding: 10px;
  box-shadow: -10px -10px 15px lightgray;
}

.About-intro p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin-left: 25px;
  text-align: left;
}

.about-content p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: left;
  padding: 20px;
}
