.Navbar {
  background: rgb(36, 33, 33);
  box-shadow: 5px 5px 15px darkslategrey;
  margin-bottom: 2px;
}

.menu {
  margin: 20px;
  padding: 10px;
  color: white;
}
.menu h1 {
  margin: 0 20px;
}
.items-link {
  color: white;
  margin: 0 20px;
}
